@model IEnumerable<Курсовая.Domain.Entity.Collector>
@{ViewData["Title"] = "Collectors";}

<div class="container mt-5">
    <h2>@ViewData["Title"]</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Полное Имя</th>
                <th>Страна</th>
                <th>Имейл</th>
                <th>Телефон</th>
                <th>Контакт инфол</th>
                <th>Кол-во ред.марок</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var collector in Model)
            {
                <tr>
                    <td>@collector.FullName</td>
                    <td>@collector.Country</td>
                    <td>@collector.Email</td>
                    <td>@collector.Phone</td>
                    <td>@collector.ContactInfo</td>
                    <td>@collector.RareStampsCount</td>
                    <td>
                        <a asp-action="Redact" asp-route-id="@collector.Id" class="btn btn-primary btn-sm">Редактировать </a>
                    </td>
                    <td>
                        <form asp-action="DellCollector" method="post">
                            <input type="hidden" name="id" value="@collector.Id" />
                            <button type="submit" class="btn btn-danger btn-sm" >Удалить</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-action="Index" class="btn btn-secondary">Назад</a>
</div>
